# Your exact subdomain

DOMAIN=

HTTPS_PORT=
ROCKET_PORT=

HOST_UID=
HOST_GID=

# Email for Let's Encrypt expiry notifications

EMAIL=

SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=true
INVITATION_ORG_NAME=

# Desec
DESEC_API_KEY=

# Admin Endpoint Token
ADMIN_TOKEN=''


# Push Notifications

PUSH_ENABLED=true
PUSH_INSTALLATION_ID=
PUSH_INSTALLATION_KEY=

PUSH_RELAY_URI=
PUSH_IDENTITY_URI=

# DUO security

DUO_IKEY=
DUO_SKEY=
DUO_HOST=

# SMTP

SMTP_FROM=
SMTP_FROM_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURITY=

SMTP_USERNAME=
SMTP_PASSWORD=''
SMTP_AUTH_MECHANISM=Login
SMTP_ACCEPT_INVALID_CERTS=false
SMTP_ACCEPT_INVALID_HOSTNAMES=false
SMTP_TIMEOUT=15
